# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS specific files
*.DS_Store

# folders
/include
/out
/.vs
/.vscode
/lib
/data/log/

# files
CMakeSettings.json
CMakePresets.json
imgui.ini

# data files
*.dat
*.spv
*.lyproj
